/* #Reset
================================================================================================= */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Media - Fluid Images - Video
======================================================= */
figure {
  margin: 0;
}

img, object, embed, video {
  max-width: 100%;
  _width: 100%;
}

/* Fluid images */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* Improve IE's resizing of images */
svg:not(:root) {
  overflow: hidden;
}

/* Correct IE9 overflow */
img {
  height: auto;
}

/* Colors
================================================================================================= */
/* Elements
================================================================================================= */
/* Transition Times
================================================================================================= */
/* Links and Headers
======================================================= */
a {
  color: #3498db;
  -webkit-transition: all 333ms 0 ease-in-out;
  transition: all 333ms 0 ease-in-out;
}
a:focus, a:hover, a:active {
  outline: 0;
}
a:hover {
  color: #e74c3c;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 0.35em;
  color: #dddddd;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: 'Lato', helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
  text-decoration: none;
  color: #dddddd;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 3.25em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 2.1em;
}

h5 {
  font-size: 1em;
}

/* Main Body Styles
======================================================= */
body {
  font-size: 62.5%;
  color: #777777;
  font-family: 'Lato', helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Header/Logo and Tagline
======================================================= */
header#masthead {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #273646;
  padding: 13px 0;
}
header#masthead .site-branding {
  z-index: 9999;
}
header#masthead .site-branding h1 {
  position: relative;
  top: 2px;
  font-size: 2.2em;
  margin-left: 20px;
  margin-bottom: 0;
  font-family: 'Lato', helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
}
header#masthead .site-branding h1 a {
  color: #dddddd;
}
header#masthead .site-branding h1 a span {
  position: relative;
  top: -2px;
  margin-right: 7px;
  font-size: 28px;
  height: 28px;
  width: 28px;
  color: #c0392b;
  -webkit-transition: all 333ms 0 ease-in-out;
  transition: all 333ms 0 ease-in-out;
}
header#masthead .site-branding h1 a:hover {
  color: white;
}
header#masthead .site-branding h1 a:hover span {
  color: #e74c3c;
}
header#masthead .site-branding #top-btn, header#masthead .site-branding #add-btn {
  position: absolute;
  top: 18px;
  right: 25px;
  color: #06080b;
  text-decoration: none;
  font-size: 1.5em;
}
header#masthead .site-branding #top-btn span.hidden, header#masthead .site-branding #add-btn span.hidden {
  position: absolute;
  top: -50px;
  right: 67px;
  opacity: 0;
  margin-right: 0px;
  padding: 4px;
  background: #273646;
  color: #06080b;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.075em;
  cursor: pointer;
  font-family: 'Lato', helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-transition: all 333ms 0 ease-in-out;
  transition: all 333ms 0 ease-in-out;
}
header#masthead .site-branding #top-btn span.genericon, header#masthead .site-branding #add-btn span.genericon {
  font-size: 25px;
  height: 25px;
  width: 25px;
  position: relative;
  top: -6px;
  cursor: pointer;
}
header#masthead .site-branding #top-btn:hover, header#masthead .site-branding #top-btn.active, header#masthead .site-branding #add-btn:hover, header#masthead .site-branding #add-btn.active {
  color: white;
}
header#masthead .site-branding #top-btn:hover span.hidden, header#masthead .site-branding #top-btn.active span.hidden, header#masthead .site-branding #add-btn:hover span.hidden, header#masthead .site-branding #add-btn.active span.hidden {
  opacity: 1;
  top: -5px;
  color: white;
}
header#masthead .site-branding #add-btn {
  right: 60px;
}
header#masthead .site-branding #add-btn span.genericon {
  top: -5px;
}
header#masthead .site-branding #add-btn span.hidden {
  right: 32px;
}
header.entry-header {
  display: none;
}

/* Media Upload Window
======================================================= */
body #add-new-wrapper {
  position: fixed;
  top: -1000px;
  right: 20px;
  width: 90%;
  max-width: 650px;
  z-index: 10;
  overflow: hidden;
  -webkit-transition: all 333ms 0 ease-in-out;
  transition: all 333ms 0 ease-in-out;
}
body #add-new-wrapper iframe#add-new-iframe {
  width: 100%;
  height: 600px;
  position: relative;
  top: 0px;
}
body #add-new-wrapper.active {
  top: 54px;
}
body.admin-bar #add-new-wrapper iframe#add-new-iframe {
  top: -49px;
}
body.admin-bar #add-new-wrapper.active {
  top: 86px;
}

/* Gallery
======================================================= */
#main {
  width: 100%;
  position: relative;
}
#main #gallery a {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: #eee;
}
#main #gallery a img {
  height: auto;
  padding: 0;
  margin: 0;
  width: 100%;
  -webkit-transition: all 333ms 0 ease-in-out;
  transition: all 333ms 0 ease-in-out;
}
#main #gallery a:after {
  font-size: 60px;
  height: 60px;
  width: 60px;
  margin-left: -30px;
  margin-top: -30px;
  content: '\f403';
  font-family: 'genericons';
  color: white;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 2px 2px #aaa;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  opacity: 0;
  -webkit-transition: opacity 333ms 0 ease-in-out;
  transition: opacity 333ms 0 ease-in-out;
}
#main #gallery a:hover:after {
  opacity: 1;
}
#main #gallery a:hover img {
  opacity: 0.5;
}
#main #gallery a.active {
  width: 70% !important;
  margin: 0 15%;
  left: 0 !important;
  z-index: 999;
}
#main #gallery a.active:hover img {
  opacity: 1;
}
#main #gallery a.active:after {
  content: '\f406';
  top: 15px;
  right: 15px;
  left: auto;
  margin-left: 0;
  margin-top: 0;
  font-size: 15px;
  height: 15px;
  width: 15px;
}

/* Emtpy Gallery
======================================================= */
section.no-results, section.not-found {
  text-align: center;
  margin-top: 120px;
}
section.no-results header h1, section.not-found header h1 {
  font-size: 2.8em;
  margin-bottom: 20px;
}
section.no-results .page-content p, section.not-found .page-content p {
  font-size: 1.6em;
  letter-spacing: 0.05em;
}

/* Footer
======================================================= */
footer {
  width: 100%;
  margin-top: 20px;
  background: #eeeeee;
  padding: 10px 0;
  text-align: center;
  color: #777777;
  letter-spacing: 0.05em;
}
footer a .genericon {
  font-size: 14px;
  height: 14px;
  weight: 14px;
  text-decoration: none;
  position: relative;
  top: -2px;
  margin-left: 2px;
}

/* Hide Things
======================================================= */
.edit-link {
  display: none;
}

/* Selection Colors
======================================================= */
::-moz-selection {
  background: #e67e22;
  color: white;
}
::selection {
  background: #e67e22;
  color: white;
}

::-moz-selection {
  background: #e67e22;
  color: white;
}
