

/* Links and Headers
======================================================= */
a {
	color:$link-color;
	@include ease;

	&:focus, &:hover, &:active {outline: 0;}
	&:hover {color:$link-hover-color;}
}

h1, h2, h3, h4, h5 {
	margin-bottom:0.35em;
	color:$headline-color;
	letter-spacing:0.1em;
	text-transform:uppercase;
	@include font-lato(900);
	a {
		text-decoration:none;
		color:$headline-color;
	}
}

h1 {font-size:4.5em;}
h2 {font-size:3.25em;}
h3 {font-size:2.25em;}
h4 {font-size:2.1em;}
h5 {font-size:1em;}






/* Main Body Styles
======================================================= */
body {
	font-size:62.5%;
	color:$body-copy-color;
	@include font-lato(400);
}




/* Header/Logo and Tagline
======================================================= */
header {
	// Site Header
	&#masthead {
		position:relative;
		top:0;
		left:0;
		right:0;
		z-index: 9999;
		background:$header-bkgd-color;
		padding:13px 0;
		.site-branding {
			z-index: 9999;
			h1 {
				position: relative;
				top: 2px;
				font-size:2.2em;
				margin-left:20px;
				margin-bottom:0;
				@include font-lato(300);
				a {
					color:$logo-color;
					span {
						position:relative;
						top:-2px;
						margin-right: 6px;
						$font-size:28px;
						font-size: $font-size;
						height:$font-size;
						width:$font-size;
						color:$red;
					}
					&:hover {
						color:$logo-hover-color;
					}
				}
			}
			#top-btn, #add-btn {
				position:absolute;
				top:18px;
				right:25px;
				color:$top-link-color;
				text-decoration: none;
				font-size:1.5em;
				span.hidden {
					position:absolute;
					top:-50px;
					right:67px;
					opacity:0;
					margin-right:0px;
					padding:4px;
					background:$header-bkgd-color;
					color:$top-link-color;
					text-transform: uppercase;
					font-size: 1em;
					letter-spacing:0.075em;
					cursor: pointer;
					@include font-lato(300);
					@include ease;
				}
				span.genericon {
					$font-size:25px;
					font-size: $font-size;
					height:$font-size;
					width:$font-size;
					position:relative;
					top:-6px;
					cursor:pointer;
				}
				&:hover,
				&.active {
					color:$top-link-hover-color;
					span.hidden {
						opacity:1;
						top:-5px;
						color:$top-link-hover-color;
					}
				}
			}
			#add-btn {
				right:60px;
				span.genericon {top:-5px;}
				span.hidden {right:32px;}
			}
		}
	}
	// Post Header
	&.entry-header {display:none;}
}


/* Media Upload Window
======================================================= */
body {
	#add-new-wrapper {
		position:fixed;
		top:-1000px;
		right:20px;
		width:90%;
		max-width:400px;
		z-index: 10;
		overflow: hidden;
		@include ease;
		iframe#add-new-iframe {
			width:100%;
			height:600px;
			position:relative;
			top:0px;
		}
		&.active {top:54px;}
	}
	&.admin-bar {
		#add-new-wrapper {
			iframe#add-new-iframe {
				top:-49px;
			}
			&.active {top:86px;}
		}
	}
}


/* Gallery
======================================================= */
#main {
	width: 100%;
	position: relative;
	// List Items
	#gallery {
		a {
			display: inline-block;
			box-sizing: border-box;
			padding:0;
			margin:0;
			cursor:pointer;
			background:#eee;
			// Images
			img {
				height: auto;
				padding:0;
				margin:0;
				width:100%;
				@include ease;
			}
			// View Full Size Icon
			&:after {
				$font-size:60px;
				font-size: $font-size;
				height:$font-size;
				width:$font-size;
				margin-left:($font-size / 2) * -1;
				margin-top:($font-size / 2) * -1;
				content: '\f403';
				font-family:'genericons';
				color:white;
				color:rgba(255,255,255,0.8);
				text-shadow:2px 2px 2px #aaa;
				text-shadow:2px 2px 2px rgba(0,0,0,0.1);
				position:absolute;
				top:50%;
				left:50%;
				right:50%;
				opacity: 0;
				@include ease;
			}
			// Hover States
			&:hover {
				&:after {opacity:1;}
				img {opacity:0.5;}
			}
		}
	}
}



/* Emtpy Gallery
======================================================= */
section {
	&.no-results,
	&.not-found {
		text-align: center;
		margin-top: 120px;
		header {
			h1 {
				font-size:2.8em;
				//color:#ddd;
				margin-bottom:20px;
			}
		}
		.page-content {
			p {
				font-size:1.6em;
				letter-spacing: 0.05em;
			}
		}
	}
}




/* Footer
======================================================= */
footer {
	width:100%;
	margin-top:20px;
	background:$footer-background-color;
	padding:10px 0;
	text-align:center;
	color:$footer-text-color;
	letter-spacing:0.05em;
	a {
		.genericon {
			$font-size:14px;
			font-size: $font-size;
			height:$font-size;
			weight:$font-size;
			text-decoration: none;
			position:relative;
			top:-2px;
			margin-left:2px;
		}
	}
}




/* Hide Things
======================================================= */
.edit-link {display:none;}





/* Selection Colors
======================================================= */
::selection {
	background:$highlight-bkgd-color;
	color:$highlight-color;
}

::-moz-selection {
	background:$highlight-bkgd-color;
	color:$highlight-color;
}
